@import 'bootstrap';

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;

  .nav {
    margin-bottom: 1rem;
  }

  .container img {
    max-width: 100%;
    display:block;
    height: auto;
  }
}
